name: wasmCloud custom host release

on:
  release:
    types: [published]

jobs:
  docker-release:
    permissions:
      contents: write
      packages: write
    uses: ./.github/workflows/docker-build-push.yml
    secrets: inherit
    with:
      push: true
      image: ghcr.io/${{ github.repository_owner }}/wasmcloud-custom-host
      tags: |
        type=match,pattern=wash-v(.*),group=1